@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-blue-400: oklch(0.78 0.12 240);
    --color-blue-500: oklch(0.70 0.15 240);
    --color-blue-600: oklch(0.62 0.18 240);
}

/*components*/
.menu-label{
    font-family: "Science Gothic", sans-serif;
    font-weight: bold;
    font-size: small;
}

/*general*/
.header-bg{
    background-image: linear-gradient(
        to right,
        var(--color-blue-400),
        var(--color-blue-500),
        var(--color-blue-600)
    );
}