@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-blue-400: oklch(0.78 0.12 240);
  --color-blue-500: oklch(0.7 0.15 240);
  --color-blue-600: oklch(0.62 0.18 240);
}

/*components*/
.menu-label {
  font-family: "Science Gothic", sans-serif;
  font-weight: bold;
  font-size: small;
}

/*sections*/
.player-card {
  display: grid;
  place-items: center;
  width: 80%;
  margin-top: 1rem;
  padding: 1rem;
  font-family: "Science Gothic", sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
}

@media (min-width: 640px){
    .player-card{
        width: 25rem;
    }
}

@media (min-width: 768px){
    .player-card{
        width: 30rem;
    }
}

.player-card h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.player-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  margin-top: 2rem;
  padding-bottom: 2rem;
  gap: 3rem;
}

.player-stats p {
  font-size: small;
}

.results {
  top: 100%;
  left: 50%;
}

/*general*/
.header-bg {
  background-image: linear-gradient(
    to right,
    var(--color-blue-400),
    var(--color-blue-500),
    var(--color-blue-600)
  );
}
